body {
  background-color: #fdfefe;
  font-family: 'Segoe UI', sans-serif;
}

header {
  background-color: #6c5ce7;
}

#game-box {
  background-color: #dff9fb;
  padding: 30px;
  border-radius: 10px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

#color-text {
  margin: 0;
}

#button-container button {
  margin: 5px;
  min-width: 80px;
  font-weight: bold;
}

footer {
  background-color: #dcdde1;
}
